

    <header class="bar bar-header bar-dark">
        <button class="button button-clear" ng-click="$dismiss()">取消</button>
        <h1 class="title">{{title}}</h1>
        <button class="button button-clear" ng-click="onSubmit(comment)">发送</button>
    </header>
    <div class="has-header list list-inset">
        <label class="item item-input">
            <textarea placeholder="说点什么吧..." rows="5" ng-model="comment"></textarea>
        </label>
        <button class="button button-full button-dark" ng-click="onSubmit(comment)">发送</button>
    </div>
