
<ul vertical-equal style="height: 100%">
    
    <li class="side-menu-item" ng-class="{active: pos=='photos'}" ng-click="$close('photos')" >
        <i class="icon ion-ios7-photos"></i> 照片
    </li>    
    <li class="side-menu-item" ng-class="{active: pos=='products'}" ng-click="$close('products')" >
        <i class="icon ion-ios7-cart"></i> 产品
    </li>    
    <li class="side-menu-item" ng-class="{active: pos=='pros'}" ng-click="$close('pros')" >
        <i class="icon ion-social-designernews"></i> 设计师
    </li>    
    <li class="side-menu-item" ng-class="{active: pos=='ideabooks'}" ng-click="$close('ideabooks')" >
        <i class="icon ion-ios7-bookmarks"></i> 灵感集
    </li>    
    <li class="side-menu-item" ng-class="{active: pos=='advice'}" ng-click="$close('advice')" >
        <i class="icon ion-chatboxes"></i> 建议
    </li>    
    <li class="side-menu-item" ng-class="{active: pos=='my'}" ng-click="$close('my')" >
        <i class="icon ion-person"></i> 我的HOUZZ
    </li>
</ul>