
<ul class="vbox-justify padding-vertical" style="height: 100%">
    
    <li class="side-menu-item" ng-class="{active: pos=='/photos'}" ng-click="onSideMenu('/photos')" >
        <i class="icon ion-ios7-photos"></i> 照片
    </li>    
    <li class="side-menu-item" ng-class="{active: pos=='/products'}" ng-click="onSideMenu('/products')" >
        <i class="icon ion-ios7-cart"></i> 产品
    </li>    
    <li class="side-menu-item" ng-class="{active: pos=='/pros'}" ng-click="onSideMenu('/pros')" >
        <i class="icon ion-social-designernews"></i> 设计师
    </li>    
    <li class="side-menu-item" ng-class="{active: pos=='/ideabooks'}" ng-click="onSideMenu('/ideabooks')" >
        <i class="icon ion-ios7-bookmarks"></i> 灵感集
    </li>    
    <li class="side-menu-item" ng-class="{active: pos=='/advice'}" ng-click="onSideMenu('/advice')" >
        <i class="icon ion-chatboxes"></i> 建议
    </li>    
    <li class="side-menu-item" ng-class="{active: pos=='/my'}" ng-click="onSideMenu('/my')" >
        <i class="icon ion-person"></i> 我的HOUZZ
    </li>
</ul>