

<div class="res-detail-view" loading="!objects.$resolved">

    <div scrollable='x' class="ideabook-view" ng-class="{edit:editMode}">

        <div class="ideabook-unit text"
             ng-class="{select:select==obj}"
             ng-click="onText()"
                >
            <div class="ideabook-text">
                <h1>{{obj.title}}</h1>
                <p>{{obj.desc}}</p>
            </div>
        </div>

        <div class="ideabook-unit"
             ng-click="onUnitView(p)"
             ng-class="{select:select==p}"
             ng-repeat="p in objects track by p.id">
            <div class="ideabook-info">
                <!--<h3 no-watch="p.image.title"></h3>-->
                <p>{{p.desc}}</p>
            </div>
            <div class="ideabook-ctrl">
                <span ng-click="onLike($event, p)" ng-class="{active:p.liked}">
                   <i class="icon ion-ios7-heart-outline"></i>{{p.like_num}}
                </span>
                <span ng-click="onCommentPiece($event, p)">
                   <i class="icon ion-ios7-chatbubble-outline"></i>{{p.reply_num}}
                </span>
            </div>
        </div>
    </div>
    <form name="form" class="ideabook-form" ng-show="editMode">
        <label class="item item-input" ng-show="select.title">
            <span class="input-label">标题</span>
            <input maxlength="50" name="title" type="text" ng-model="select.title" required>
        </label>

        <label class="item item-input">
            <span class="input-label">描述</span>
            <textarea name="desc" ng-model="select.desc" rows="5"></textarea>
        </label>
    </form>
</div>
<div class="res-side-ctrl">
    <span class="ctrl-item" ng-click="onBack()">
       <i class="icon ion-chevron-left"></i>
    </span>
    <span class="ctrl-item" ng-click="onMark()" ng-class="{active:marked}">
       <i class="icon ion-ios7-star"></i>
    </span>
    <span class="ctrl-item" ng-click="onComment()">
       <i class="icon ion-ios7-chatbubble"></i>
    </span>
    <span class="ctrl-item" ng-click="onEdit()" ng-show="isOwner" ng-class="{active:editMode}">
       <i class="icon ion-ios7-compose"></i>
    </span>

</div>