
//
//.ideabook-add-thumb{
//  display: inline-block;
//  >img{
//    width: 200px;
//    height: 200px;
//  }
//}

.ideabook-add-select{
  .flex(1);
  padding: 5px 15px;
  >h5{
    font-size: 20px;
  }
}


.ideabook-add-new{
  padding: 10px 0px;
  >input{
    border: 1px solid #ccc;
  }
}

.ideabook-add-desc{
  >h5{
    font-size: 20px;
  }
  >textarea{
    border: 1px solid #ccc;
  }
}

.ideabook-add-button{
  .padding;
  >button{
    min-width: 100px;
  }
}

.ideabook-list{
  position: relative;
  border-bottom: 1px solid #dddddd;
  .padding;

  >.info{
    width: 80%;
    height: 60px;
    >h3{
    }
    >p{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  >.author{
    position: absolute;
    left: 80%;
    top: 0;
    right: 0;
    .padding;
    font-size: 20px;
    >img{
      width: 60px;
      height: 60px;
      float: left;
    }
    >.name{
      margin-left: 10px;
      line-height: 30px;
    }
    >.reply{
      color: #808080;
      margin-left: 10px;
    }
  }
}

.ideabook-thumbs{
  .box;
  .clearfix;
  overflow: hidden;
}

.ideabook-view{
  .box;
  position: relative;
  height: 100%;
  padding: 60px 15px;

  &.edit{
    position: absolute;
    height: 20%;
    bottom: 0;
    padding: 10px 15px;

    >.ideabook-unit{
      padding: 0 @idea-unit-padding/2;
      &.text{
        width: 20%;
        max-width: 120px;
      }
      >.ideabook-info{
        display: none;
      }
      >.ideabook-ctrl{
        display: none;
      }

    }

  }
}

@idea-unit-padding: 20px;

.ideabook-unit{

  position: relative;
  height: 100%;
  padding: 0 @idea-unit-padding;
  overflow: hidden;

  &.text{
    .box-center;
    width: 75%;
    min-width: 310px;
  }
  &.select{
    border: 2px solid blue;
  }
  >img{
    height: 100%;
    width: auto;
  }
}

.ideabook-info{
  position: absolute;
  color: white;
  padding: 10px 0;
  top: 0;
  left: @idea-unit-padding;
  right: @idea-unit-padding;
  background: rgba(0,0,0,0.5);
  >h3{
    color: white;
  }
  >p{
    color: white;
  }
}

.ideabook-ctrl{
  position: absolute;
  color: white;
  left: @idea-unit-padding;
  right: @idea-unit-padding;
  bottom: 0;
  >span{
    font-size: 24px;
    background: rgba(0,0,0,0.5);
    float: right;
    padding: 10px 15px;
    margin: 0 10px;
  }
}

.ideabook-text{
  >h1{
    text-align: center;
  }
  >p{
    text-indent: 2em;
  }
}