

<div class="res-detail-view" ng-show="obj.$resolved">
    <div scrollable='x' class="ideabook-view">

        <div class="ideabook-unit text">
            <div class="ideabook-text">
                <h1>{{obj.title}}</h1>
                <p>{{obj.desc}}</p>
            </div>
        </div>

        <div class="ideabook-unit"
             ng-click="onUnitView(p)"
             ng-repeat="p in obj.pieces track by p.id">
            <div class="ideabook-info">
                <h3 no-watch="p.image.title"></h3>
                <p no-watch="p.desc || p.image.desc"></p>
            </div>
            <div class="ideabook-ctrl">
                <span>
                   <i class="icon ion-ios7-heart-outline"></i>
                </span>
                <span>
                   <i class="icon ion-ios7-chatbubble-outline"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="res-side-ctrl">
    <span class="ctrl-item" ng-click="onBack()">
       <i class="icon ion-chevron-left"></i>
    </span>
    <span class="ctrl-item" ng-click="onMark()" ng-class="{active:marked}">
       <i class="icon ion-ios7-star"></i>
    </span>
    <span class="ctrl-item" ng-click="onComment()">
       <i class="icon ion-ios7-chatbubble"></i>
    </span>
    <span class="ctrl-item" ng-click="onEdit()">
       <i class="icon ion-ios7-compose"></i>
    </span>

</div>