



<div class="res-detail-view" ng-show="obj.$resolved">
    <div scrollable class="advice-view">
        {{obj.title}}
    </div>
</div>
<div class="res-side-ctrl">
    <span class="ctrl-item" ng-click="onBack()">
       <i class="icon ion-chevron-left"></i>
    </span>
    <span class="ctrl-item" ng-click="marked=!marked" ng-class="{active:marked}">
       <i class="icon ion-ios7-star"></i>
    </span>
    <span class="ctrl-item" ng-click="onComment()">
       <i class="icon ion-ios7-chatbubble"></i>
    </span>
    <span class="ctrl-item" ng-click="onEdit()">
       <i class="icon ion-ios7-compose"></i>
    </span>

</div>