


<div class="res-detail-view box-align-hcenter" ng-show="obj.$resolved">
    <div scrollable class="advice-view">
        <h1>{{obj.title}}</h1>
        <div class="advice-author" ng-click='onAuthor()'>
            <img profile-image='obj.author'>
            <span>{{obj.author.username}}</span>
        </div>

        <p>{{obj.body}}</p>
        <img ng-src="{{obj.image | imagePath }}">

        <div class="advice-comment">
            <i class="icon ion-ios7-chatbubble"></i>{{obj.reply_num}} 评论
        </div>

        <div class="advice-reply" ng-repeat="re in objects track by re.id">
            <img profile-image='re.author'>
            <h5>{{re.author.username}}</h5>
            <p>{{re.body}}</p>
        </div>

    </div>
</div>

<div class="res-side-ctrl">
    <span class="ctrl-item" ng-click="onBack()">
       <i class="icon ion-chevron-left"></i>
    </span>
    <span class="ctrl-item" ng-click="marked=!marked" ng-class="{active:marked}">
       <i class="icon ion-ios7-star"></i>
    </span>
    <span class="ctrl-item" ng-click="onComment()">
       <i class="icon ion-ios7-chatbubble"></i>
    </span>
    <span class="ctrl-item" ng-click="onEdit()">
       <i class="icon ion-ios7-compose"></i>
    </span>

</div>