
<header class="bar bar-header bar-stable">
    <button class="button button-clear" ng-click="modal.close()">取消</button>
    <h1 class="title">{{{false:'发起讨论', true:'编辑'}[!!obj]}}</h1>
    <button class="button button-clear" ng-click="onSubmit()">发布</button>
</header>

<form name="form" class="list list-inset padding-header">
    <label class="item item-input">
        <input maxlength="50" name="title" type="text" placeholder="标题" ng-model="data.title" required>
    </label>

    <label class="item item-input">
        <textarea name="desc" ng-model="data.desc" placeholder="详细说明" rows="8" required></textarea>
    </label>
    <label class="item item-input">
        <file-select class="file-select box-center"
                     placeholder="添加照片"
                     src="{{obj.image|thumbPath}}"
                     file="data.image"
                     name='image'
                >
        </file-select>
    </label>
    <button class="button button-block" ng-click="onSubmit()">
        发布
    </button>
</form>




