
<div class="my-menu" ng-show="user">
    <div class="bar bar-header bar-light">
        <h2 class="title">我的家居</h2>
    </div>
    <div class="fill has-header">
        <ul scrollable class="list" delegate-watch='myView.name' delegate-class='active'>
            <li class="item item-avatar" ng-click="onEditProfile()">
                <img ng-src='{{profile.image}}'>
                <h2>{{user.username}}</h2>
                <p>修改资料</p>
            </li>
            <li class="item" ng-click="onItem('ideabook')" delegate-when='ideabook'>我的灵感集</li>
            <li class="item">我的收藏</li>
            <li class="item">我的话题</li>
            <li class="item">上传照片</li>
        </ul>
    </div>
</div>

<div class="my-detail" ng-show="user">
    <div class="bar bar-header bar-light">
        <a ng-click="onLeft()">
            <span ng-show="env.left">
                <i class="icon ion-ios7-arrow-back"></i> {{env.left}}
            </span>
        </a>
        <h3 class="flex1"></h3>

        <a class="right" ng-click="onRight($index)" ng-repeat="r in env.right">{{r}}</a>

        <a id="my-menu-drop" class="filter-menu" ng-click="onMenu()">
            我的菜单 <i class="icon ion-arrow-down-b"></i>
        </a>

    </div>
    <div cache-view='myView' class="fill"></div>
</div>