
<div class="my-menu" ng-show="user">
    <div class="bar bar-header bar-stable common-bar">
        <h2 class="title">我的家居</h2>
    </div>
    <div class="fill has-header" include="my/myMenu.tpl.html">
    </div>
</div>

<div class="my-detail" ng-show="user">
    <div class="bar bar-header bar-stable common-bar">
        <a ng-click="onLeft()" ng-show="env.left">
            {{env.left}}
        </a>
        <h3 class="flex1"></h3>

        <a class="right" ng-click="onRight($index)" ng-repeat="r in env.right">{{r}}</a>

        <a id="my-menu-drop" class="filter-menu" ng-click="onMenu()">
            我的菜单 <i class="icon ion-arrow-down-b"></i>
        </a>

    </div>
    <div cache-view='myView' class="fill"></div>
</div>