

<ul scrollable class="list" delegate-watch='myView.name' delegate-class='active'>
    <li class="item item-avatar" ng-click="onEditProfile()">
        <img profile-image='user'>
        <h2>{{user.username}}</h2>
        <p>修改资料</p>
    </li>
    <li class="item" ng-click="onItem('ideabook')" delegate-when='ideabook'>我的灵感集</li>
    <li class="item" ng-click="onItem('bookmark')" delegate-when='bookmark'>我的收藏</li>
    <li class="item" ng-click="onItem('topic')" delegate-when='topic'>我的话题</li>
    <li class="item" ng-click="onItem('upload')" delegate-when='upload'>上传照片</li>
</ul>