
<form name="form" class="list list-inset">
    <label class="item item-input">
        <span class="input-label">头像：</span>
        <file-select class="file-select"
                     imgsrc="{{profile.image}}"
                     file="data.image"
                >
        </file-select>
    </label>
    <label class="item item-input">
        <span class="input-label" ng-class="{error: failed && form.name.$invalid}">姓名：</span>
        <input maxlength="50" name="name" type="text" ng-model="data.name">
    </label>
    <label class="item item-input">
        <span class="input-label" ng-class="{error: failed && form.location.$invalid}">位置：</span>
        <select name="location" ng-model="data.location" ng-options="l.cn for l in meta.location">
        </select>
    </label>
    <label class="item item-input">
        <span class="input-label" ng-class="{error: failed && form.email.$invalid}">邮件：</span>
        <input maxlength="50" name="email" type="email" ng-model="data.email">
    </label>

    <label class="item item-input">
        <span class="input-label" ng-class="{error: failed && form.desc.$invalid}">我的签名：</span>
        <textarea name="desc" ng-model="data.desc" rows="5"></textarea>
    </label>
    <button class="button button-full button-dark" ng-click="onSubmit()">确定</button>
</form>




