
<header class="bar bar-header bar-stable">
    <button class="button button-clear icon ion-ios7-arrow-back" ng-click="navCtrl.back()"></button>
    <h1 class="title">设计师</h1>
    <button class="button button-clear" ng-click="onSubmit()">更新</button>
</header>

<form name="formPro" class="list list-inset padding-header">
    <label class="item item-input">
        <file-select class="file-select box-center"
                     profile-image='user'
                     file="profile.image"
                     name='image'
                >
        </file-select>
    </label>
    <label class="item item-input">
        <span class="input-label">设计师/公司名</span>
        <input maxlength="50" name="title" type="text" ng-model="pro.title">
    </label>
    <label class="item item-input">
        <span class="input-label">职业类别</span>
        <div class="select-wrapper">
            <select name="category" ng-model="pro.category" ng-options="l.cn for l in meta.category">
            </select>
            <i class="icon ion-arrow-down-b"></i>
        </div>
    </label>
    <label class="item item-input">
        <span class="input-label">网址</span>
        <input maxlength="50" name="link" type="url" ng-model="pro.link">
    </label>

    <label class="item item-input">
        <span class="input-label">简介</span>
        <textarea name="desc" ng-model="pro.desc" rows="5"></textarea>
    </label>
    <a class="item" ng-click="navCtrl.go('my/contact.tpl.html')">
        联系方式
    </a>
</form>