
//@import '../../vendor/ionic-v0.9.26/css/ionic';

@import  "../../vendor/ionic-0.9.17-alpha/dist/css/ionic";
@import "../../vendor/ionic-0.9.17-alpha/dist/css/themes/ionic-ios7";


@import "variables";
@import "mixinx";
@import "utilities";
@import "popup";

@import "../app/home/home";
@import "../app/detail/detail";
@import "../app/edit/edit";


// fix soft keyboard bug:
body{
  position: static;
  overflow: auto;
}

.side-pane-backdrop{
  position: fixed;
  left: 0;
  top: @headerHeight;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.side-pane{
  background: white;
//  .opacity(90);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30%;
  min-width: 200px;
  z-index: 11;
  box-shadow: -1px 0px 10px rgba(0,0,0,0.6);

  &.left{
    left: 0;
  }
  &.right{
    right: 0;
  }
}
.side-menu-item{
  .padding;
  font-size: @icon-medium;
  &.active{
    color: #b8dcf2;
  }
}

//.refresher{
//    position: absolute;
//    top: -60px;
//    right: 0;
//    left: 0;
//    overflow: hidden;
//    margin: auto;
//    height: 60px;
//    display: none;
//}

.blueimp-gallery > .description {
  position: absolute;
  top: 30px;
  left: 15px;
  color: #fff;
  display: none;
}
.blueimp-gallery-controls > .description {
  display: block;
}


button.ng-click-active{
  background: @bg-active;
}

.tab-item{
  &.active{
    background: darkgray;
//    -webkit-filter: invert(100%);
  }
}

//:active is not work for a.item:active on mobile browser
.item{
  &.ng-click-active{
    background: @bg-active;
  }
}
//a:active{
//  background: @bg-active;
//}


button[disabled], input[disabled]{
  color: gray !important;
}

.icon-large{
  font-size: @icon-medium;
}


