
//@import '../../vendor/ionic-v0.9.26/css/ionic';

@import  "../../vendor/ionic-0.9.17-alpha/dist/css/ionic";
@import "../../vendor/ionic-0.9.17-alpha/dist/css/themes/ionic-ios7";
//ionic used note:
//bar bar-header bar-subheader icon button title list item
//scroll-bar

//@import "../../vendor/Gallery/css/blueimp-gallery";

@import "variables";
@import "mixinx";
@import "utilities";
@import "popup";
@import "transition";
@import "animation";

// fix soft keyboard bug:
body{
  position: static;
  overflow: auto;
}

.content-view{
  position: absolute;
  top: @headerHeight*2;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: #fff;

  &.no-sub{
    top: @headerHeight !important;
  }
  &.no-header{
    top: 0 !important;
  }
  &.no-side{
    left: 0 !important;
  }
  &.no-background{
    background: transparent;
  }
}

.container{
  position: absolute;
  width: 100%;
  padding: @thumb-padding;
  background: @bodyBackground;
}

.side-pane{
  position: absolute;
//  box-shadow: -1px 5px 10px rgba(0,0,0,0.6);

  &.pane-side-menu{
    left: 0;
    top: @headerHeight;
    bottom: 0;
    width: @side-pane-width;
    background: rgba(0,0,0,0.7);
  }
  &.pane-filter-bar{
    .opacity(98);
    right: 0;
    top: @headerHeight;
    bottom: 0;
    width: @pane-filter-bar-width;
    background: @bodyBackground;
  }
  &.pane-image-info{
    .opacity(98);
    left: 0;
    top: 0;
    bottom: 0;
    width: @pane-image-info-width;
    background: @bodyBackground;
  }
}

.side-menu-item{
  text-align: center;
  color: white;
  min-height: @side-menu-item-height;
  &.active{
    color: @color-active;
  }
  > span{
    display: block;
    > .icon{
      font-size: @icon-large;
    }
  }
}

.filter-menu{
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 10px;
}

.scroll{
  background: @bodyBackground;
}
.refresher{
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 0;
  width: 40px;
  height: 40px
}

button{
  &.ng-click-active{
    background: @bg-active-click;
  }
  &.active{
    background: @bg-active-state;
  }
}

a{
//  font-size: 18px;
  &.ng-click-active{
    background: @bg-active-click;
  }
  &.active{
    color: @color-active;
    background: @bg-active-state;
  }

}

button[disabled], input[disabled]{
  color: gray !important;
}

.icon-large{
  font-size: @icon-large;
}

//form.focused{
//  .flex(99);
//  .transition(all ease-in-out 300ms);
//}


@import "../app/home/home";
@import "../app/detail/detail";
@import "responsive";