@import "variables";

.res-main-pane{
  position: absolute;
  left: 0;
  right: 0;
  top: @headerHeight;
  bottom: 0;
  background-color: #fff;
}

.res-side-pane{
  z-index: @z-index-side-pane;
  left: 0;
  top: @headerHeight;
  bottom: 0;
  width: @side-pane-width;
  background: rgba(0,0,0,0.7);
  .vbox-justify;
}

.res-hide-l{
  display: none;
}

// >= 850
@media (min-width: 850px){

  .res-main-pane{
    left : @side-pane-width !important;
  }
}

//  < 850
@media (max-width: 849px){
  .res-side-pane{
    left: 0;
    bottom: 0;
    top:auto;
    width: 100%;
    height: @side-pane-height;
    .hbox-justify;
  }
}


//  <= 640
@media (max-width: 640px){

}

//   <=400
@media (max-width: 400px){
  .res-display-l{
    display: none;
  }
  .res-hide-l{
    display: inherit;
  }
}