

.pro-list{
  position: relative;
  border-bottom: 1px solid #dddddd;
  .padding;
}
.pro-user{
  .clearfix;
  >img{
    width: 60px;
    height: 60px;
    margin: 10px;
    float: left;
  }
  >p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #808080;
  }
  //  >h5{
  //    font-size: 20px;
  //    color: white;
  //  }
  //  >p{
  //    font-size: 15px;
  //    color: white;
  //  }

}

.user-view{
  position: absolute;
  right: 0;
  width: 400px;
  max-width: 100%;
  height: 100%;
  background: @bodyBackground;
}

.user-ideabooks{
  border-bottom: 1px solid #dddddd;
}