


<ul scrollable refreshable class="container">
    <li class="pro-list" list-render
        ng-repeat="obj in objects track by obj.id">

        <div class="pro-user" ng-click="onUser(obj.id)">
            <img profile-image='obj'>
            <h4>{{obj.profile.pro.title}}</h4>
            <p>{{obj.profile.pro.desc}}</p>
        </div>

        <div class="ideabook-thumbs">
            <div class="ideabook-thumb" index='0'
                 ng-click="onIdeabook(obj)"
                 ng-repeat="obj in obj.ideabooks track by obj.id">
             </div>
        </div>
    </li>
    <div class="list-more" ng-show="loadingMore">
        <i class="icon ion-loading-d"></i>
    </div>
</ul>

<div class="box-center fill" ng-show="objects.$resolved && !objects.length">
    没有找到！
</div>
