

<header class="bar bar-header bar-dark" ani-hide="{class: 'from-top', flag: 'env.noHeader'}">
    <button class="button button-clear" ng-click="onBack()">
        <span ng-show="env.back">
            <i class="icon ion-ios7-arrow-back"></i> {{env.back}}
        </span>
        <span ng-hide="env.back">
            我的家居
        </span>
    </button>
    <h1 class="title">{{env.title}}</h1>
    <button class="button button-clear" ng-click="onRight()">
        {{env.rightText}}
    </button>
</header>

<header class="bar bar-subheader res-has-side box-align-center" ani-hide="{class: 'from-top', flag: '!env.filters'}">
    <form class="flex1" ng-submit="onSearch(se)" ng-class="{focused:inFocus}">
        <label class="box-align-center">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" ng-model="se" ng-focus="inFocus=1" ng-blur="inFocus=0" placeholder="搜索">
        </label>
    </form>

    <a class="filter-menu" ng-class="{active:cleared}" ng-click="onAll()">
        全部
    </a>

    <a class="filter-menu res-hide-l" ng-class="{active:!cleared}" ng-click="onFilter()">
        筛选
    </a>

    <list-filter ng-repeat="filter in env.filters"></list-filter>

</header>

<ul class="side-pane res-side-pane" include="modal/sideMenu.tpl.html" ani-hide="{class: 'res-from-side', flag: 'env.noSide'}"></ul>

<cache-view class="content-view res-has-side"></cache-view>

