<div class="bar bar-header bar-dark">
    <button class="button button-clear icon ion-ios7-arrow-back" ng-click="exitView()"></button>
    <h1 class="title" ng-init="titles=['修改活动','发起活动']">{{titles[isNew]}}</h1>
    <button class="button button-clear" ng-click="onSubmit()">发布</button>
</div>

<form name="form" class="list list-inset has-header">
    <label class="item item-input">
        <span class="input-label" ng-class="{error: failed && form.title.$invalid}">活动标题：</span>
        <input maxlength="50" name="title" type="text" ng-model="d.title" required>
    </label>
    <label class="item item-input">
        <span class="input-label" ng-class="{error: failed && form.category.$invalid}">活动类型：</span>
        <select name="category" ng-model="d.category" ng-options="c.title_cn for c in meta.ca" required>
        </select>
    </label>
    <label class="item item-input">
        <span class="input-label" ng-class="{error: failed && form.start.$invalid}">开始时间：</span>

        <input type="datetime-local" name="start" ng-model="d.start_time" ng-change="onStartDateChange()" required>
    </label>
    <label class="item item-input">
        <span class="input-label">结束时间：</span>
        <input type="datetime-local" ng-model="d.end_time" ng-change="onEndDateChange()">
    </label>
    <label class="item item-input">
        <span class="input-label" ng-class="{error: failed && form.avenue.$invalid}">活动地点：</span>
        <input maxlength="50" name="avenue" type="text" ng-model="d.avenue" required>
    </label>
    <label class="item item-input">
        <span class="input-label">活动照片：</span>
        <file-select class="file-select"
                     imgsrc="{{d.imgsrc}}"
                     file="d.image"
                >
        </file-select>
    </label>
    <label class="item item-input">
        <span class="input-label" ng-class="{error: failed && form.description.$invalid}">活动描述：</span>
        <textarea name="description" ng-model="d.description" rows="5" required></textarea>
    </label>
    <button class="button button-full button-dark" ng-click="onSubmit()">确定</button>
</form>




