<!DOCTYPE html>
<html
      ng-app="app"
      ng-controller="AppCtrl"
        >
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta content=”yes” name=”apple-mobile-web-app-capable” />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title ng-bind="pageTitle" ng-init='pageTitle="大美家居"'>大美家居</title>

    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
	<% }); %>

    <link rel="stylesheet" href="assets/css/blueimp-gallery.css">
    <link rel="stylesheet" href="assets/css/blueimp-gallery-indicator.css">

    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
	<% }); %>

  </head>
  <body ng-init='appTitle=pageTitle'>

    <div ng-if="false" style="position: absolute;top: 48%; width: 100%; text-align: center;z-index: 2">
        Page Loading...
    </div>

    <div class="side-pane left res-side-pane" ng-include="'modal/sideMenu.tpl.html'"></div>

    <div class="res-main-pane">

        <header class="bar bar-header bar-dark res-header">
            <button class="button button-clear icon ion-navicon" ng-click="toggleSideMenu('photos')"> MyHouzz </button>
            <h1 class="title">{{title}}</h1>
            <button class="button button-clear icon ion-ios7-search" ng-click="onSearch()">  {{total}} </button>
        </header>

        <div class="bar res-subheader box-align-center">
            <a class="flex1">
            </a>
            <form ng-submit="onSearch(se)" ng-class="{focused:inFocus}">
                <label class="box-align-center">
                    <i class="icon ion-ios7-search placeholder-icon"></i>
                    <input type="search" ng-model="se" ng-focus="inFocus=1" ng-blur="inFocus=0" placeholder="搜索">
                </label>
            </form>

            <a class="padding" ng-show="filters" ng-class="{active:cleared}" ng-click="onAll()" style="margin: 0 5px">
                全部
            </a>

            <list-filter id='{{filter}}' ng-repeat="filter in filters"></list-filter>

        </div>
        <div ng-caching-view class="view popup-in-right"></div>
    </div>


  <script>
      console.log(new Date());
  </script>
  </body>
</html>
