

<ion-view title="'Home'"
          left-buttons="[{type: 'button-icon icon ion-navicon',content: 'MyHouzz', tap: toggleSideMenu }]"
          right-buttons="[{type: 'button-icon icon ion-plus',tap: onMore }]">
    <ion-content class="padding-header">
        <div gallery-links ng-if="selected.value=='photos'">
            <a class="thumb-list"
               ng-repeat="obj in objects track by obj.id"
               ng-href="{{obj | fullImagePath:0}}"
               title="{{obj.title}}">
                <img ng-src="{{obj | fullImagePath:6}}" alt="{{obj.title}}">
            </a>
        </div>
    </ion-content>
</ion-view>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
</div>



