

<header class="bar bar-header bar-dark">
    <button class="button button-clear icon ion-navicon" ng-click="toggleSideMenu()"> MyHouzz</button>
    <h1 class="title">{{title}}</h1>
    <button class="button button-clear icon ion-ios7-search" ng-click="onSearch()">  {{total}} 个</button>
</header>

<div class="bar bar-subheader">
    <a class="pull-right padding" ng-click="toggleFilter('room')">Rooms <i class="icon ion-arrow-down-b"></i></a>
    <a class="pull-right padding" ng-click="toggleFilter('style')">Style <i class="icon ion-arrow-down-b"></i></a>
    <a class="pull-right padding" ng-click="toggleFilter('location')">Area <i class="icon ion-arrow-down-b"></i></a>
</div>

    <content has-header='true' has-subheader='true' on-refresh='onRefresh()'>
        <refresher></refresher>

        <div ng-if="pos=='photos'" gallery-links>
            <a class="thumb-list"
               ng-repeat="obj in objects track by obj.id"
               ng-href="{{obj | fullImagePath:0}}"
               title="{{obj.title}}">
                <img ng-src="{{obj | fullImagePath:6}}" alt="{{obj.title}}">
            </a>
        </div>

        <div ng-if="pos=='products'">
            <a class="product-list"
               ng-repeat="obj in objects track by obj.id" >
                <img style="vertical-align: middle" ng-src="{{meta.imgbase+obj.params[1].image.image}}" /><br>
                <span>{{obj.title}}</span>
            </a>
        </div>

        <div ng-if="pos=='pros'">
            <a class="item item-thumbnail-left" ng-repeat="obj in objects track by obj.id" ng-click="">
                <img ng-src="{{obj.image}}">
                <h2>{{obj.name}}<span class="badge">{{obj.category.cn}}</span></h2>
                <p>{{obj.desc}}</p>
            </a>
        </div>

        <div ng-if="pos=='ideabooks'">
            <a class="item item-thumbnail-left" ng-repeat="obj in objects track by obj.id" ng-click="">
                <img ng-src="{{meta.imgbase+obj.pieces[1].image.image}}">
                <h2>{{obj.title}}<span class="badge">{{obj.author.name}}</span></h2>
                <p>{{obj.desc}}</p>
            </a>

        </div>

        <div ng-if="pos=='discussions'">
           <h1 style="text-align: center"> 讨论区 </h1>
        </div>

        <div ng-if="pos=='my'">
           <h1 style="text-align: center"> 我的HOUZZ </h1>
        </div>

    </content>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
</div>



