
.gallery-view{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
//  z-index: @z-index-popup;
  > span{
    display: none;
  }

}
.gallery-slides{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  overflow: hidden;
  //.preserve3d();
}
.gallery-page{
  .gallery-slides;
}

.gallery-slide{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000000;
  color: white;
  .box-center;

  &.active{
    z-index: 2;
  }
  &.gallery-error{
    background: url(img/error.png) center no-repeat;
    background-size: 64px 64px;
  }

  > i{
    color: white;
    font-size: @icon-xl;
  }
}

.gallery-img{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  opacity: 1;

}

.gallery-loader{

  max-width: 100%;
  max-height: 100%;
  position: relative;

  >.gallery-loader-spin{
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    font-size: @icon-large;
    margin-top: -@icon-large/2;
    margin-left: -@icon-large/2;
  }
//  &.gallery-error{
//      background: url(img/error.png) center no-repeat;
//      background-size: 64px 64px;
//  }
}

.gallery-tag{
  position: absolute;
  color: bisque;
  font-size: @icon-large;
  .transform-origin(left top);
  .rotateZ(45deg);
  .animation(shaking 1s linear 0 2);
}

.gallery-controls{
  > span{
    display: inherit;
    position: absolute;
    z-index: 3;
    color: #fff;
    text-align: center;
    &.ng-click-active{
      color: @color-active;
    }
  }

  > .close {
    top: 15px;
    right: 15px;
    width: 60px;
    font-size: @icon-xl;
  }

  > .info {
    right: 15px;
    bottom: 15px;
    font-size: @icon-xl;
  }

  > .play-pause {
    right: 15px;
    bottom: 15px;
    font-size: @icon-large;
    width: 60px;
    line-height: 40px;
  }

  >.prev, >.next{
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 40px;
  }
  >.prev{
    left: 15px;
  }
  >.next{
    right: 15px;
  }
}


.tag-view{
  position: absolute;
  background: rgba(0,0,0,0.7);
  z-index: @z-index-popup+10;
  >img{
    width: 105px;
    height: 105px;
    margin: 10px;
    float: left;
  }
  >h5{
    font-size: 20px;
    color: white;
  }
  >p{
    font-size: 15px;
    color: white;
  }
}

.thumb(){
  position: relative;
  float: left;
  height: 0;
  overflow: hidden;
  background-size: 98%, 98%;
}

.image-thumb{
  .thumb;
  width: 1/6*100%;
  padding-bottom: 1/6*100%;
  background: url(img/default.jpeg) center no-repeat;
  >img{
    position: absolute;
    left: 1%;
    top: 1%;
    width: 98%;
    height: 98%;
  }
}

.product-thumb{
  .thumb;
  width: 1/5*100%;
  padding-bottom: 1/5*100%;
  >img{
    position: absolute;
    left: 2%;
    top: 2%;
    width: 96%;
    height: 78%;
  }
  >.info{
    position: absolute;
    left: 2%;
    top: 80%;
    width: 96%;
    height: 18%;
    padding: 5px;
    >.title{
      font-size: 20px;
    }
    >.price{
      font-size: 12px;
      color: #d3d3d3;
      float: right;
    }
  }

}

//    <= 1024
@media (max-width: 1024px){
  .image-thumb{
    width: 1/5*100%;
    padding-bottom: 1/5*100%
  }
  .product-thumb{
    width: 1/4*100%;
    padding-bottom: 1/4*100%
  }

}
//   <= 800
@media (max-width: 800px){
  .image-thumb{
    width: 1/4*100%;
    padding-bottom: 1/4*100%
  }
  .product-thumb{
    width: 1/3*100%;
    padding-bottom: 1/3*100%
  }
}
//    <= 630
@media (max-width: 630px){
  .image-thumb{
    width: 1/3*100%;
    padding-bottom: 1/3*100%
  }
  .product-thumb{
    width: 1/2*100%;
    padding-bottom: 1/2*100%
  }
}

@media (max-width: 420px){
  .image-thumb{
     width: 1/2*100%;
    padding-bottom: 1/2*100%
  }
  .product-thumb{
    width: 100%;
    padding-bottom: 100%
  }
}


.list-more{
  height: @headerHeight;
  line-height: @headerHeight;
  clear: both;
  text-align: center;
  font-size: @icon-large;
}



