

<header class="bar bar-header bar-dark">
    <button class="button button-clear icon ion-navicon" ng-click="toggleSideMenu('photos')"> MyHouzz</button>
    <h1 class="title">照片</h1>
    <button class="button button-clear icon ion-ios7-search" ng-click="onSearch()">  {{total}} 个</button>
</header>

<div class="bar bar-subheader">
    <list-filter id='{{filter}}' ng-repeat="filter in filters"></list-filter>
</div>

<content has-header='true' has-subheader='true' on-refresh='onRefresh()' ng-controller='PhotoCtrl'>

    <refresher></refresher>

    <div ng-if="objects.$resolved">
        <div style="text-align: center;margin-top: 10%" ng-if="!objects.length">
            没有符合条件的照片！
        </div>
        <a class="thumb-list"
           ng-click="onImageView(obj)"
           ng-repeat="obj in objects track by obj.id">
            <img ng-src="{{obj | fullImagePath:6}}" alt="{{obj.title}}">
        </a>
    </div>

</content>



