

<content class="res-content" on-refresh='onRefresh()' ng-controller='PhotoCtrl'>

    <refresher></refresher>

    <div ng-if="objects.$resolved">
        <div style="text-align: center;margin-top: 10%" ng-if="!objects.length">
            没有符合条件的照片！
        </div>
        <a class="thumb-list"
           ng-click="onImageView(obj)"
           ng-repeat="obj in objects track by obj.id">
            <img ng-src="{{obj | fullImagePath:6}}" alt="{{obj.title}}">
        </a>
    </div>

</content>



