
<ul scrollable refreshable class="container">
    <li class="product-thumb" list-render
        ng-click="onProductView($event, obj)"
        ng-repeat="obj in objects track by obj.id">
        <div class="info">
            <span class="title" no-watch="obj.title"></span>
            <span class="price" no-watch="obj.params[0].price"></span>
        </div>
    </li>
    <div class="list-more" ng-show="loadingMore">
        <i class="icon ion-loading-d"></i>
    </div>
</ul>

<div class="box-center fill" ng-show="objects.$resolved && !objects.length">
    没有找到！
</div>




