

<header class="bar bar-header bar-dark">
    <button class="button button-clear icon ion-navicon" ng-click="toggleSideMenu('products')"> MyHouzz</button>
    <h1 class="title">产品</h1>
    <button class="button button-clear icon ion-ios7-search" ng-click="onSearch()">  {{total}} 个</button>
</header>

<div class="bar bar-subheader">
    <list-filter id='{{filter}}' ng-repeat="filter in filters"></list-filter>
</div>

<ion-content has-header='true' has-subheader='true' on-refresh='onRefresh()'>
    <ion-refresher></ion-refresher>

        <a class="product-list"
           ng-repeat="obj in objects track by obj.id" >
            <img style="vertical-align: middle" ng-src="{{meta.imgbase+obj.params[1].image.image}}" /><br>
            <span>{{obj.title}}</span>
        </a>

</ion-content>




