

<header class="bar bar-header bar-dark">
    <button class="button button-clear icon ion-navicon" ng-click="toggleSideMenu('pros')"> MyHouzz</button>
    <h1 class="title">设计师</h1>
    <button class="button button-clear icon ion-ios7-search" ng-click="onSearch()">  {{total}} 个</button>
</header>

<div class="bar bar-subheader">
    <list-filter id='{{filter}}' ng-repeat="filter in filters"></list-filter>
</div>

<content has-header='true' has-subheader='true' on-refresh='onRefresh()'>
    <refresher></refresher>

        <a class="item item-thumbnail-left" ng-repeat="obj in objects track by obj.id" ng-click="">
            <img ng-src="{{obj.image}}">
            <h2>{{obj.name}}<span class="badge">{{obj.category.cn}}</span></h2>
            <p>{{obj.desc}}</p>
        </a>

</content>



